import styles from './{{kebabCase name}}.module.css';
import { {{pascalCase name}}Props } from './{{kebabCase name}}.types';

const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return <div>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
